body {
    background-color: aqua;
}
.name-txt:hover {font-size: 48px; color: rgb(192, 255, 208);}
.header {
    background-color: yellow;
    color: black;
    padding: 10px;
    text-align: center;
}

.footer {
    color: yellow;
    background-color: blueviolet;
    padding-left: 50px;
    padding: 10px;
    text-align: center;
}

.a-tag {
    color: blue;
}