body {
    background-color: bisque;
    font-family: cursive;
    margin: 0;
    padding: 0;
}


header, footer {
    text-align: center;
    background-color: salmon;
    padding: 10px;
    color:brown
}

.task {
    background-color: peachpuff;
    padding: 10px;
    margin: 10px;
    text-align: center;
    color: brown;
    border-radius: 8px;
    border: 2px solid #F08080 ;
        -webkit-box-shadow: 4px 6px 15px rgba(250, 128, 114, 0.7), 0 4px 10px rgba(0, 0, 0, 0.2);
    box-shadow: 4px 6px 15px rgba(250, 128, 114, 0.7), 0 4px 10px rgba(0, 0, 0, 0.2);
}

.done {
    color: gray;
    text-decoration: line-through;
}