html {
  box-sizing: border-box;
  font-size: 16px;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol, ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

body {background-color: salmon; color: #FFF8E7;}
.nav {background-color: #8A2BE2; color: #FFF8E7; text-align: center; padding: 20px;}
.nav-a {background-color: #FFF8E7; color: brown; margin-left: 10px; margin-right: 10px; font-weight: bold;}
.nav-h1 {margin-bottom: 15px; font-size: 25px; font-family:  Georgia, 'Times New Roman', Times, serif;}


.section { padding: 20px;width: 800px; margin: auto; }

.section-title {  font-size: 24px; font-weight: bold;}

.section-img {height: 200px; width: 200px; border-radius: 10px; margin-top: 20px; margin-bottom: 20px;}
